{% extends "UnsapaIPWBundle::layout.html.twig" %}

{% block content %}
  <h1>Bienvenue sur UnsapaIPW</h1>
  <p>Cette application web permet de gérer des examens entre des étudiants
  et des professeurs.</p>

  <p>Le site a été réalisé dans le cadre d'un projet de cours à l'ENSIIE</p>

  <h3>Rapport <a href="../../report" alt="Rapport">Lien</a></h3>
  <h3>Documentation développeur <a href="../../doc" alt="API">Lien</a></h3>
  <h3>Couverture des tests <a href="../../cov" alt="Tests">Lien</a></h3>
{% endblock %}
